<body>
    <div class="container">
      <h1>Lista de Contatos</h1>
  
      <!-- Botão para alternar entre todos os contatos e favoritos -->
      <button class="btn btn-primary mb-3" (click)="toggleFavorites()">
        {{ showingFavorites ? 'Mostrar Todos' : 'Mostrar Favoritos' }}
      </button>
  
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let contact of contacts">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                {{ contact.nome }}
                <!-- Ícone de favorito no canto superior direito -->
                <div class="favorite-icon">
                  <svg height="24px" id="Layer_1" version="1.2" viewBox="0 0 24 24" width="24px" xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    [ngClass]="{ 'favorito': contact.favorito }">
                    <g>
                      <g>
                        <path
                          d="M9.362,9.158c0,0-3.16,0.35-5.268,0.584c-0.19,0.023-0.358,0.15-0.421,0.343s0,0.394,0.14,0.521c1.566,1.429,3.919,3.569,3.919,3.569c-0.002,0-0.646,3.113-1.074,5.19c-0.036,0.188,0.032,0.387,0.196,0.506c0.163,0.119,0.373,0.121,0.538,0.028c1.844-1.048,4.606-2.624,4.606-2.624s2.763,1.576,4.604,2.625c0.168,0.092,0.378,0.09,0.541-0.029c0.164-0.119,0.232-0.318,0.195-0.505c-0.428-2.078-1.071-5.191-1.071-5.191s2.353-2.14,3.919-3.566c0.14-0.131,0.202-0.332,0.14-0.524s-0.23-0.319-0.42-0.341c-2.108-0.236-5.269-0.586-5.269-0.586s-1.31-2.898-2.183-4.83c-0.082-0.173-0.254-0.294-0.456-0.294s-0.375,0.122-0.453,0.294C10.671,6.26,9.362,9.158,9.362,9.158z">
                        </path>
                      </g>
                    </g>
                  </svg>
                </div>
              </h5>
              <p class="card-text"><strong>Email:</strong> {{ contact.email }}</p>
              <p class="card-text"><strong>Telefone:</strong> {{ contact.telefone }}</p>
              <p class="card-text"><strong>Endereço:</strong> {{ contact.endereco }}</p>
              <p class="card-text"><strong>Aniversário:</strong> {{ contact.aniversario }}</p>
              <p class="card-text"><strong>Gênero:</strong> {{ contact.genero }}</p>
              <p class="card-text"><strong>Categoria:</strong> {{ contact.categoria }}</p>
              <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-warning mr-2" (click)="edit(contact)">Editar</button>
                <button class="btn btn-danger" (click)="delete(contact)">Excluir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Botão para abrir o modal -->
      <button class="btn btn-primary fixed-button" (click)="openModal()">Adicionar Contato</button>
  
      <!-- Modal para adicionar/editar contato -->
      <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
              <h5 class="modal-title">{{ isEditing ? 'Editar Contato' : 'Adicionar Contato' }}</h5>
              <button type="button" class="close" (click)="closeModal()">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body" style="max-height: 60vh; overflow-y: auto;">
              <form [formGroup]="formGroupContact" (ngSubmit)="save()">
                <div class="form-group">
                  <label for="nome" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="nome" formControlName="nome" />
                  <small *ngIf="nome.touched && nome.hasError('required')" class="text-danger">
                    *O nome é obrigatório.
                  </small>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" formControlName="email" class="form-control">
                  <small *ngIf="email.touched && email.hasError('email')" class="text-danger">
                    *Insira um email válido.
                  </small>
                  <small *ngIf="email.touched && email.hasError('required')" class="text-danger">
                    *O email é obrigatório.
                  </small>
                </div>
                <div class="form-group">
                  <label for="telefone">Telefone</label>
                  <input type="text" id="telefone" formControlName="telefone" class="form-control">
                  <small *ngIf="telefone.touched && telefone.hasError('required')" class="text-danger">
                    *O telefone é obrigatório.
                  </small>
                </div>
                <div class="form-group">
                  <label for="endereco">Endereço</label>
                  <input type="text" id="endereco" formControlName="endereco" class="form-control">
                  <small *ngIf="endereco.touched && endereco.hasError('required')" class="text-danger">
                    *O endereço é obrigatório.
                  </small>
                </div>
                <div class="form-group">
                  <label for="aniversario">Aniversário</label>
                  <input type="date" id="aniversario" formControlName="aniversario" class="form-control">
                  <small *ngIf="aniversario.touched && aniversario.hasError('required')" class="text-danger">
                    *A data de aniversário é obrigatória.
                  </small>
                </div>
                <div class="form-group">
                  <label for="genero">Gênero</label>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="generoMasculino" formControlName="genero" value="Masculino">
                    <label class="form-check-label" for="generoMasculino">Masculino</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" id="generoFeminino" formControlName="genero" value="Feminino">
                    <label class="form-check-label" for="generoFeminino">Feminino</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="categoria">Categoria</label>
                  <select id="categoria" formControlName="categoria" class="form-control">
                    <option value="Amigos">Amigos</option>
                    <option value="Família">Família</option>
                    <option value="Trabalho">Trabalho</option>
                    <option value="Outro">Outro</option>
                  </select>
                </div>
                <div class="form-check">
                  <input type="checkbox" id="favorito" formControlName="favorito" class="form-check-input">
                  <label for="favorito" class="form-check-label">Favorito</label>
                </div>
                <button type="submit" class="btn btn-primary mt-3" [disabled]="!formGroupContact.valid">
                  {{ isEditing ? 'Atualizar' : 'Salvar' }}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

    <style>
      .modal-content {
        background-color: #F1F1F1;
        overflow: hidden; /* Evita que o conteúdo do modal vaze para fora da área visível */
      }
  
      .card {
        background-color: #F1F1F1;
      }
  
      .fixed-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
      }
  
      .modal.show {
        display: block;
      }
  
      .favorite-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 99; /* Garante que o ícone fique acima do resto do conteúdo */
      }
  
      .container svg:hover {
        transform: scale(1.1);
      }
  
      .container .favorito {
        fill: #FDDE55; /* Cor quando favoritado */
      }
  
      body {
        background-color: #F6F5F2;
      }
  
      .submit {
        background-color: #FED8B1;
      }
     .container{
        background-color: #F6F5F2;
     }
    </style>
  
  